<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="~/lib/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css" integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <title>The ChatApp</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- jQuery, Popper.js, Bootstrap JS, JavaScript -->
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    @RenderSection("btnOptions", required: false)
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/site.js"></script>
    <script src="~/js/app.js" type="text/javascript"></script>
</body>
</html>