@model ChatApp.Models.MessageModel

@Html.Partial("_Navbar")
<main role="main" class="container">
    <div class="row my-lg-5">
        <div class="col-3">
        </div>
        <div class="col-6 my-5 py-5">
            <form class="form-signin" asp-action="CreateMessage" asp-route-id="@Model.Channel.ID" method="post">
                <div class="text-center">
                    <h2 class="h3 mb-3 display-4">Add a message</h2>
                </div>
                <hr class="my-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <textarea asp-for="Message" class="form-control" row="2" cols="10" placeholder="Write a message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success">Create</button>
                    <a asp-action="ChannelDetails" asp-route-id="@Model.Channel.ID" class="btn btn-dark">Back to Channel</a>
                </div>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</main>
@Html.Partial("_Footer")